@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';

.whats-on {
	&__header {
		@include titleFont();
		color: color(homepage, penguin-white, 2);
		// Different header font?
		font-size: 6rem;
		padding: 4rem;
	}
}