@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';
@import '../../../globalStyles/sizes';

.whats-on {
	&__header {
		@include sectionHeaderFont();
		color: color(homepage, penguin-white, 2);
		padding: 1rem 4rem;

		@include mediaQueryFor(small, max) {
			text-align: center;
			padding: 2rem;
		}
	}

	&__carousel {
		@include mediaQueryFor(xsmall, max) {
			padding: 0 3rem;
		}

		@include mediaQueryFor(large) {
			padding: 0 15rem;
		}

		@include mediaQueryFor(medium, max) {
			.slick-arrow {
				visibility: hidden;
			}
		}

		.slick-prev {
			left: 5rem;
		}

		.slick-next {
			right: 5rem;
		}

		.slick-arrow {
			width: 3%;
			top: 37%;
			opacity: 0.7;
			height: fit-content;

			&:hover {
				opacity: 1.0;
			}

			&:focus {
				outline: solid color(homepage, penguin-white, 2) 2px;
				outline-offset: 0.3rem;
				opacity: 1.0;
			}

			&::before {
				display: none;
			}
		}

		.slick-slide {
			box-sizing: border-box;
			transform: scale(0.9, 0.9);
			transition: transform 0.5s ease;
			transition: opacity 0.5s ease;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}

			&.slick-center {
				transform: scale(1, 1);
				opacity: 1;
			}
		}
	}
}
