@import './sizes';

@mixin sectionHeaderFont {
	font-family: 'Oswald';
	font-size: 7rem;
	font-weight: 600;

	@include mediaQueryFor(xsmall, max) {
		font-size: 12vw;
	}
}

@mixin itemHeaderFont {
	font-family: 'Oswald';
	font-size: 3rem;
	line-height: 3.5rem;
	font-weight: 600;

	@include mediaQueryFor(xsmall, max) {
		font-size: 10vw;
		line-height: 11vw;
	}
}

@mixin bodyFont {
	font-family: 'Lexend Giga';
	font-size: 1.2rem;
	font-weight: 60;
}
