@import '~react-rater/lib/react-rater.css';

@import '../../../globalStyles/app';
@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';

.react-rater-star {
	color: color(homepage, penguin-white, 2);
	font-size: 3rem;

	&.is-active, &.is-active-half:before {
		color: color(homepage, penguin-yellow, 2);
	}
}

.movie-details {
	&-title {
		@include sectionHeaderFont();
	}
	&-runtime, &-description, &-certificate {
		@include bodyFont();
	}
	&-image {
		width: 5rem;
	}
}