@import '~react-rater/lib/react-rater.css';

@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';


.movie-details {
	background: color(homepage, penguin-black, 2);
	margin-top: 5rem;
	margin-bottom: 5rem;
	@include bodyFont();

	&__title {
		@include sectionHeaderFont();
	}
	&__image {
		width: 15rem;
	}
	&__runtime, &__certificate {
		padding: 0.75rem 0;
	}

	.row {
		display: flex;
		align-items: center;
		padding: 2rem;

		@include mediaQueryFor(small, max) {
			flex-direction: column;
			padding: 1rem;
		}

		&:last-child {
			align-items: flex-start;
		}
	}

	.react-rater-star {
	color: color(homepage, penguin-white, 2);
	font-size: 3rem;

		&.is-active, &.is-active-half:before {
			color: color(homepage, penguin-yellow, 2);
		}
}
}

