@import '../../../globalStyles/colors';

@mixin stick {
	position: -webkit-sticky;
	position: sticky;
}

.header {
	@include stick;
	top: 0;
	left: 0;
	width: 100%;
	background-color: color(homepage, penguin-black, 2);

	&__logo {
		width: 27rem;
		padding: 1.2rem 2rem;
		max-width: 70%;
	}
}