@import '../../../globalStyles/global.scss';

@mixin stick {
	position: -webkit-sticky;
	position: sticky;
}

.header {
	@include stick;
	top: 0;
	left: 0;
	width: 100%;
	background-color: color(homepage, penguin-black, 2);

	&__logo {
		display: flex;
		width: 20%;
		min-width: 20rem;
		padding: 1.4rem 2rem;
	}
}