@import '../../../globalStyles/colors';

@mixin stick {
	position: -webkit-sticky;
	position: sticky;
}

.header {
	@include stick;
	top: 0;
	z-index: 999;
	background-color: color(homepage, penguin-black, 2);

	&__logo {
		display: block;
		width: 27rem;
		padding: 1.2rem 2rem;
	}
}