@import '../../../../../../globalStyles/fonts';

.movie-slide {
	text-align: center;
	@include bodyFont();

	&__title {
		padding: 1rem 0;
		@include titleFont();
	}

	&__info {
		padding-bottom: 5rem;
	}

	&__runtime {
		padding-right: 1rem;
		border-right: 1px solid white;
	}

	&__age-rating {
		padding-left: 1rem;
	}

	&__release-year {
		padding: 0.5rem 0
	}

	img {
		width: 30rem;
	}
}