.carousel {
	.row, .col {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__unselected-movie {
		// some kind of faded effect for non selected movie?
		padding: 10px;
	}

	button {
		background-color: transparent;
		outline: none;
		border: none;
		margin-bottom: 20rem;
	}
}