@import '../../../globalStyles/app';
@import '../../../globalStyles/bootstrap';
@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';
@import '../../../globalStyles/sizes';

.footer {
	width: 100%;
	background-color: color(homepage, penguin-black, 2);
	position: fixed;
	bottom: 0;

	&__text {
		padding: 0 8%;

		@include mediaQueryFor(small, max) {
			padding: 0.5rem 0;
		}
	}

	&__copyright-text {
		@include mediaQueryFor(small, max) {
			font-size: 0.8rem;
		}
	}

	&__logo {
		img {
			width: 100%;

			@include mediaQueryFor(small, max) {
				width: 30rem;
			}
		}
	}

	.app-content-container {
		text-align: center;
		@include bodyFont();
		padding: 1rem 0;

		.row {
			display: flex;
			align-items: center;

			@include mediaQueryFor(small, max) {
				flex-direction: column;
				:nth-child(1) {order: 3;}
				padding: 0.5rem 0;
			}
		}
	}
}