@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import '../../../../../../globalStyles/sizes';

.carousel-container {
	// padding: 0;
	// margin: auto;

	@include mediaQueryFor(small, max) {
		box-sizing: border-box;
		padding: 0;
	}

	@include mediaQueryFor(medium, max) {
		margin: auto;
		padding: 0;
	}


	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__unselected-movie {
		// some kind of faded effect for non selected movie?
		padding: 10px;
	}

	button {
		background-color: transparent;
		outline: none;
		border: none;
		margin-bottom: 20rem;
	}

	.slick-prev {
		left: -7rem;
		z-index: 99;
	}

	.slick-next {
		right: -7rem;
		z-index: 99;
	}

	.slick-arrow {
		visibility: hidden;
		height: auto;
		width: 5rem;
		top: 35%;
		opacity: 0.7;

		@include mediaQueryFor(large) {
			visibility: visible;
		}

		&:hover {
			opacity: 1.0;
		}

		&::before {
			display: none;
		}
	}

	.slick-slide {
		box-sizing: border-box;
		transform: scale(0.9, 0.9);
		transition: transform 0.5s ease;
		transition: opacity 0.5s ease;
		opacity: 0.5;

		&.slick-center {
			transform: scale(1, 1);
			opacity: 1;
		}
	}
}
